#tdHTHeader{
        background-color: black !important; 
        color: white !important;
        -webkit-print-color-adjust: exact;
    }

#tableHT{
    background-image: url(../images/HTBG3.png) !important;
}

@media print{

    #tdHTHeader{
        background-color: black !important; 
        color: white !important;
        -webkit-print-color-adjust: exact;
    }

    #tableHT{
        background-image: url(../images/HTBG3.png) !important;
    }

}
